nav {
    width: 100%;
    height: 100px;
    background-color: white;
}
nav-icon {
    padding-top: 20px;
}
/* menu icon */
.menu-icon {
    display: inline-block;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.mobile-nav {
    background-color: black;
    width: 100%;
    display: none;
    padding: 10px 0;
}
.mobile-nav li {
    list-style-type: none;
    padding: 10px;
}
.mobile-nav li > a {
    color: white;
    text-decoration: none;
}

.sub-menu{
    display: none;
}

