#logo{height: 20%;
	  width: 50%;

}

#slides{margin-top: 1px;

}

.carousel-inner img{width: 100%;
					height: 100vh;
					box-sizing: border-box;

}

.carousel-caption{position: absolute;
				  top: 50%;
				  transform: translateY(-50%);

}

.carousel-caption h1{font-size: 1000%;
					 text-transform: uppercase;
					 text-shadow: 1px 1px 10px #000;

}

#about,
#itinerary,
#gallery,
#connect{margin: 20px;
}

.about img{height: 80%;
		   width: 80%;
		   margin: 50px;
		   
}

.about p,
.itinerary p{text-align: justify;
			 margin: 20px;
}


.gallery img{height: 80%;
		     width: 80%;
		     margin: 50px;
}

.gallery h3{text-align: center;

}

#me{height: 50%;
	width: 50%;
	border-radius: 100%;
	margin: 50px;
}

#icons{width: 100%;
	   width: 80%;
}

#city img{height: 100%;
		  width: 100%;
		 /* margin: 20px;*/

}

#connect{margin-top: 100px;
}


#gcity,
#glights,
#gnature,
#gsea{margin-top: 150px;


}

#gcityimg,
#glightsimg,
#gnatureimg,
#gseaimg{padding: 10px;
}

.pic{
	
}

